repos:
  - repo: local
    hooks:
    - id: custom-linter
      name: custom linter
      entry: uv run python -m scripts.linter.main
      language: system
      types_or: [python]
      require_serial: true

    - id: ruff-check
      name: ruff check
      entry: uv run ruff check --force-exclude
      language: system
      types_or: [python, pyi, jupyter]
      require_serial: true

    - id: ruff-format
      name: ruff format
      entry: uv run ruff format --force-exclude
      language: system
      types_or: [python, pyi, jupyter]
      require_serial: true

    - id: pyright
      name: pyright
      entry: uv run pyright
      language: system
      types_or: [python, pyi]
      require_serial: true

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell
